apiVersion: v1
kind: Secret
metadata:
  name: rag-secrets
type: Opaque
data:
  GROQ_API_KEY: <base64-encoded-value>
  INTERNAL_API_KEY: <base64-encoded-value>
  JWT_SECRET: <base64-encoded-value>
  DB_USERNAME: <base64-encoded-value>
  DB_PASSWORD: <base64-encoded-value>